body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainClass {
  margin-left: 20px;
}
input {
  margin-right: 10px;
  margin-bottom: 20px;
}
img {
  width: 20%;
}
button {
  background-color: #e8e8ff;
  color: black;
  padding: 4px 30px;
  border-radius: 10px;
}
